:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --lightgrey: hsl(217, 12%, 63%);
  --verydarkblue: hsl(216, 12%, 8%);
  --darkblue: hsl(213, 19%, 18%);
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}

.main-container {
  height: 100vh;
  background-color: var(--verydarkblue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.card {
  width: 400px;
  height: fit-content;
  background-color: var(--darkblue);
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: auto;
}
.star-container {
  height: 200x;
  width: 100px;
  border-radius: 50%;
  background-color: var(--darkblue);
  padding: 1rem;
}
.card-heading {
  color: var(--white);
  font-family: "Overpass";
  font-size: 2rem;
  font-weight: 500;
}
.card-desc {
  color: var(--lightgrey);
  font-family: "Overpass";
  font-size: 1rem;
  font-weight: 500;
}
.btn {
  color: var(--verydarkblue);
  background-color: var(--orange);
  width: 100%;
  height: 40px;
  border-radius: 3rem;
  font-family: "Overpass";
  font-size: 1rem;
  font-weight: 500;
  margin: 1rem;
}
.rating-container {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.rate-btn {
  background-color: var(--lightgrey);
  padding: 1rem;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  border: none;
  outline: none;
  font-family: "Overpass";
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  margin: 1rem;
}
.rate-btn-clicked {
  color: var(--verydarkblue);
  background-color: var(--white);
}
.high {
  background-color: var(--orange);
  color: var(--verydarkblue);
}
.cardthankyou {
 padding: 1.2rem;
 display: none;
 
}
.shothankyou {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1.5rem;
  
}
.hidesubitcard {
  animation: bounce 3.2s ease-in-out;
  display: none;
}
.rating {
  color: var(--orange);
  font-family: "Overpass";
  border: 1px solid var(--orange);
  padding: 1rem;
  border-radius: 1rem;
}
@media bounce{
  from{
    transform:scale(-50px,50px);
  }
  to{
    transform: scale(50px,-50px);
  }
}
@media only screen and (max-width: 375px) {
  /* Add mobile-specific styles here */
  .card {
    width: 180px;
    height: fit-content;
  }
  .star-container {
    width: 50px;
    height: 50px;
    margin: 0;
  }
  
  .card-heading {
    font-size: 1rem;
  }
  .card-desc {
    font-size: 1rem;
  }
  .rate-btn {
    width: 40px;
    height: 40px;
    margin: 0;
  }
  .rating-container {
    display: flex;
    width: 100%;
    gap: 0.1rem;
    padding-left: 0;
    flex-wrap: wrap;
  }
  .cardthankyou{
    width: fit-content;
    height: fit-content;
    padding: 2rem;
  }
}

/* Desktop styles (min-width: 1440px) */
@media only screen and (min-width: 1440px) {
  /* Add desktop-specific styles here */
  body {
    font-size: 18px;
  }
  .card{
  width: 900px;
  height:auto;
    padding: 2rem;
  }
  .cardthankyou{
   width: 55%;

  }
  .card-img{
    width: 100%;
  }
  .card-head{
    font-size: 2rem;
  }
  .card-desc{
    font-size: 1.5rem;
  }
  .card-head{
    font-size: 3rem;
  }
}
